<!DOCTYPE html>
<html>
<head>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>@ViewBag.Title - UTAR Conference Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    @* import jquery file to the View for datepicker *@
    <link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>UTAR Conference Manager</h1>
        </div>
    </div>
    <div class="container body-content ">
        @RenderBody()
        <hr/>
        <footer>
            <p class="footertext">&copy; @DateTime.Now.Year - UTARConferenceManager</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
